@import "reset.css";
@import "background.css";
@import "weather.css";
@import "quotes.css";
@import "todo.css";

.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: fixed;
  top: 35%;
  width: 100%;
}
.clock {
  padding: 10px;
  font-size: 168px;
}
.greeting {
  font-size: 54px;
}
.login-form {
  display: flex;
  align-items: center;
}
.login-form * {
  border: none;
  background: transparent;
}
.login-form input{
  color: white;
  font-size: 40px;
  width: 360px;
}
.login-form input::placeholder {
  color: rgba(214, 212, 212, 0.829);
}
.login-form button {
  font-size: 30px;
  border-radius: 2rem;
  color: white;
  background-color: rgba(214, 212, 212, 0.829);
  margin-left: 5px;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 60px;
  }
  .greeting {
    font-size: 26px;
  }
  .login-form input{
    font-size: 12px;
    width: 120px;
  }
  .login-form button {
    font-size: 10px;
    border-radius: 2rem;
  }
}